<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="EmployeeTrackerEntities"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\EmployeeTracker.mdf;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS; initial catalog=EmployeeTracker;integratedSecurity=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Projects\Fourth\EmployeeArrivalTrackerCodingExercise\Employee.Tracker\App_Data\EmployeeTracker.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name ="EmployeeTrackerEntities" connectionString="metadata=res://*/EmployeeTrackerDb.csdl|res://*/EmployeeTrackerDb.ssdl|res://*/EmployeeTrackerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\EmployeeTracker.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EmployeeTrackerEntities" connectionString="metadata=res://*/EmployeeTrackerDb.csdl|res://*/EmployeeTrackerDb.ssdl|res://*/EmployeeTrackerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\EmployeeTracker.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EmployeeTracker"
   connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-EmployeeTracker;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\EmployeeTracker.mdf"
providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <!--<add name="EmployeeTrackerEntities" connectionString="metadata=res://*/EmployeeTrackerEntities.csdl|res://*/EmployeeTrackerEntities.ssdl|res://*/EmployeeTrackerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\EmployeeTracker.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
</configuration>